DirectoryIndex index.php index.html

RewriteEngine On
RewriteRule ^news/?$ https://www.apesnews.org.uk [R=301,L]
RewriteRule ^news/newsletters/?$ https://www.apesnews.org.uk [R=301,L]
RewriteRule ^news/tag/news-letters/?$ https://www.apesnews.org.uk [R=301,L]
RewriteRule ^Care%20Plans/care-plans/?$ /care-plans/ [R=301,L,NE]
RewriteRule ^APES%20Lab%20Services/apes-lab-services/?$ /lab-services/ [R=301,L,NE]
RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html[\s?] [NC]
RewriteRule ^(.*/)?index\.html$ /$1 [R=301,L]
